/* Styles généraux */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* S'assure que le contenu occupe 100% de la hauteur */
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: white; /* Fond blanc pour le contenu */
    color: #333; /* Couleur du texte par défaut */
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: white;
    z-index: 1000;
    padding: 15px 40px;
    transition: transform 0.3s ease;
}

/* Style pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Logo */
.logo img {
    max-width: 100%; /* Ajuste le logo en fonction de la taille de l'écran */
    height: auto;
}

/* Navigation gauche (liens) */
.nav-left {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-left li {
    margin-right: 20px;
}

.nav-left li a {
    color: #fff;
    text-decoration: none;
    font-size: small;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Navigation droite (Contact) */
.nav-right {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-right a {
    color: #000;
    text-decoration: none;
    font-size: small;
}

/* Bouton Contact */
.btn-contact {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: small;
    text-decoration: none;
}

/* Media Query pour les tablettes */
@media (max-width: 768px) {
    header {
        padding: 1px 20px; /* Réduction du padding pour les tablettes */
    }
    
    .nav-left {
        gap: 10px; /* Espacement réduit entre les éléments */
    }

    .btn-contact {
        padding: 5px 10px; /* Réduction de la taille du bouton */
    }
}

/* Media Query pour les téléphones mobiles */
@media (max-width: 480px) {
    header {
        padding: 1px 10px;
    }
    
    /* Affichage en colonne pour les petits écrans */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Navigation gauche */
    .nav-left {
        flex-direction: column;
        width: 100%; /* Prend toute la largeur de l'écran */
        margin-bottom: 20px; /* Espacement avec le contenu suivant */
    }

    .nav-left li {
        margin-right: 0;
        margin-bottom: 10px; /* Ajout d'espacement entre les éléments en colonne */
    }

    .nav-left li a {
        font-size: 1em; /* Taille du texte augmentée pour faciliter la lecture */
    }

    /* Navigation droite (Contact) */
    .nav-right {
        flex-direction: column;
        width: 100%;
    }

    .nav-right li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .btn-contact {
        width: 100%; /* Le bouton prend toute la largeur sur mobile */
        text-align: center;
    }
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: small;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-links li {
    margin-right: 10px;
}

footer p {
    margin: 10px 0;
    font-size: smaller;
}

/* Contenu de la page */
.content {
    padding: 100px 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #004c99;
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: #000000;
}


/* Style du contact form */
.container {
    padding: 100px 40px;
    width: 40%;
    min-height: calc(100vh - 120px);
    margin: auto;
}

.content img {
    max-width: 100%;
}

.container h2 {
    text-align: center;
}
  
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 0.5rem 2rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}

/* Projets */
/* Conteneur général pour les projets */

.projetStage {
    .blocProjet {
        margin: 40px auto;
    }

    .blocProjet img {
        width: fit-content;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
    }
}
.projetsUniv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille adaptable */
    gap: 40px; /* Augmenter l'espacement pour aérer */
    padding: 40px;
    background-color: #ffffff; /* Couleur de fond douce pour faire ressortir les projets */
    margin: 40px auto;
    max-width: 1200px; /* Limite la largeur de la section */
}

.blocProjet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blocProjet:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.blocProjet img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.blocProjet a {
    width: fit-content; /* Ajuste la taille du bouton au contenu */
    margin-top: 20px; /* Ajoute de l'espace entre le texte et le bouton */
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.blocProjet a:hover {
    background-color: #272727;
}

.blocProjet img {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.3s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .content {
        padding: 275px 80px;
    }
    .container {
        padding: 275px 80px;
    }

    .projetsUniv {
        padding: 20px;
        gap: 20px;
    }

    header {
        padding: 10px 20px;
    }
}
