<footer>
  <ul>
    <li><a href="Portfolio/html/index.html">Accueil</a></li>
    <li><a href="Portfolio/html/pp.html">A propos</a></li>
    <li><a href="Portfolio/html/cv.html">CV</a></li>
    <li><a href="Portfolio/html/projets.html">Projets professionnels</a></li>
    <li><a href="Portfolio/html/contact.html">Contact</a></li>
  </ul>
    
  <ul class="social-links">
    <li><a href="https://github.com/Abusbuse" target="_blank"><img src="Portfolio/assets/img/github.png" width="28px"></a></li>
    <li><a href="https://www.linkedin.com/in/gregory-wittmann-52933a254" target="_blank"><img src="Portfolio/assets/img/linkedin.png" width="24px"></a></li>
  </ul>
      
  <p>&copy; 2024 Greg. Tous droits réservés.</p>
  
  <p>Site développé par Gregory Wittmann | Hébergé par <a href="https://pages.github.com" target="_blank">GitHub Pages</a></p>
</footer>