<header>
  <nav class="navbar">
    <a class="logo-left" href="/index.html"><img src="/assets/logo_G_White.png" width="56px"></a>
    <ul class="nav-center">
      <li><a href="/index.html">Accueil</a></li>
      <li><a href="/pp.html">A propos</a></li>
      <li><a href="/cv.html">CV</a></li>
      <li><a href="/projets.html">Projets professionnels</a></li>
      
      <!-- Menu principal avec liste déroulante -->
      <li class="dropdown">
        <a href="#">Projets universitaires</a>
        <ul class="dropdown-menu">
          <li><a href="/karting.html">Site web de karting</a></li>
          <li><a href="/jardins.html">Les jardins de Cocagne</a></li>
          <li><a href="/jardins-mobile.html">Les jardins de Cocagne (version mobile)</a></li>
        </ul>
      </li>
    </ul>
    
    <ul class="contact-right">
      <li><a href="/contact.html" class="btn-contact">Contact</a></li>
    </ul>
  </nav>
</header>
