<header class="header">
  <nav class="navbar">
    <a href="/Portfolio/index.html" class="navbar__brand">
        <img src="/Portfolio/assets/img/logo_G_White.png" alt="Logo de Grégory" class="navbar__logo">
    </a>
    
    <input type="checkbox" id="menu-toggle" class="navbar__checkbox">
    <label for="menu-toggle" class="navbar__burger" aria-label="Ouvrir le menu">&#9776;</label>
    
    <div class="navbar__menu">
        <ul class="navbar__list">
          <li class="navbar__item"><a href="/Portfolio/index.html" class="navbar__link">Accueil</a></li>
          <li class="navbar__item"><a href="/Portfolio/html/pp.html" class="navbar__link">A propos</a></li>
          <li class="navbar__item"><a href="/Portfolio/html/cv.html" class="navbar__link">CV</a></li>
          <li class="navbar__item"><a href="/Portfolio/html/projets.html" class="navbar__link">Projets professionnels</a></li>
          
          <li class="navbar__item navbar__item--dropdown">
            <span class="navbar__link navbar__link--trigger">Projets universitaires ▾</span>
            <ul class="dropdown-menu">
              <li class="dropdown-menu__item"><a href="/Portfolio/html/karting.html" class="dropdown-menu__link">Site web de karting</a></li>
              <li class="dropdown-menu__item"><a href="/Portfolio/html/jdc.html" class="dropdown-menu__link">Les Jardins de Cocagne</a></li>
              <li class="dropdown-menu__item"><a href="/Portfolio/html/jdcMobile.html" class="dropdown-menu__link">Les Jardins de Cocagne (Mobile)</a></li>
            </ul>
          </li>
        </ul>
        
        <div class="navbar__actions">
          <a href="/Portfolio/html/contact.html" class="button button--primary">Contact</a>
        </div>
    </div>
  </nav>
</header>